
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1479394884349'); /* IE9*/
  src: url('../font/iconfont.eot?t=1479394884349#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1479394884349') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1479394884349') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1479394884349#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ggerenwangzhan:before { content: "\e63c"; }

.icon-socialnodejs:before { content: "\e90e"; }

.icon-mysql:before { content: "\e687"; }

.icon-html5:before { content: "\edf9"; }

.icon-css3:before { content: "\ee69"; }

.icon-js:before { content: "\e65d"; }

.icon-HTML:before { content: "\e6ac"; }

.icon-jquery-copy:before { content: "\e600"; }

.icon-php:before { content: "\e625"; }

